---
layout: base
---
{% if page.layout != 'index' %}
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% if pages.size > 1 %}
  <nav id="languages">
    {% for page in pages %}
    <a href="{{ site.base_url }}{{ page.url }}" class="{{ page.lang }}">{{ site.data.languages[page.lang].label }}</a>
    {% endfor %}
  </nav>
  {% endif %}
{% endif %}

<header>
  <div id="logo">
    <img src="{{ site.base_url }}/logo.png">
  </div>
  <nav>
    {% for item in site.data.nav %}
      {% assign item_page=site.pages | where:"ref", item | where:"lang", page.lang | first %}
      <a href="{{ item_page.url }}">{{ item_page.title }}</a>
    {% endfor %}
  </nav>
</header>

{{ content }}